.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  min-height: 100vh;
  padding-top: 30px;
}

.top-logo {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  background: #ececec;
  padding: 20px 0;
  border-radius: 12px;
  margin-bottom: 40px;
}

.auth-card {
  background: white;
  width: 420px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.auth-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #ededed;
  margin-bottom: 15px;
}

.auth-btn {
  background: black;
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.switch-text {
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  color: #666;
}
